{
    "data": {
        "依頼データ": "./data/手動手配_依頼データ_20250301-20250531.xlsx",
        "協力会社関連データ": "./分析用データセット/分析用データ.pkl",
        "スキルデータ": "./分析用データセット/スキル一覧.pkl",
        "GPSデータ": "./data/手動手配_GPSデータ_pickle/手動手配_GPSデータ_全データ.pkl",
        "Paa-S対応表": "./data/Paa-S対応表/Paa-S対応表.pkl"
    },
    "google_map": {
        "api_key": "YOUR_GOOGLE_MAPS_API_KEY_HERE"
    },
    "openrouteservice": {
        "api_key": "YOUR_OPENROUTESERVICE_API_KEY_HERE"
    },
    "recommendation": {
        "columns": [
            "業者CD",
            "業者名称",
            "業者詳細区分",
            "業者詳細区分ランク",
            "業者住所",
            "端末ID",
            "車両区分",
            "緯度",
            "経度",
            "直線距離",
            "経路距離",
            "到着時間",
            "合計出動率",
            "Paa-S使用率",
            "遠方出動比率",
            "夜間出動比率",
            "PI料金了承",
            "スコア0_1",
            "スコア0_2",
            "スコア1_1",
            "スコア1_2",
            "経路距離_zスコア",
            "到着時間_zスコア",
            "(1 - 合計出動率)_zスコア",
            "RI1_zスコア",
            "RI2_zスコア",
            "出動"
        ],
        "logics": {
            "PI様現行版ロジック": [
                "業者詳細区分ランク",
                "直線距離"
            ],
            "経路距離のみ": [
                "経路距離"
            ],
            "到着時間のみ": [
                "到着時間"
            ],
            "提案手法0_1": [
                "スコア0_1"
            ],
            "提案手法0_2": [
                "スコア0_2"
            ],
            "提案手法1_1": [
                "スコア1_1"
            ],
            "提案手法1_2": [
                "スコア1_2"
            ]
        },
        "recommend_num": 50,
        "output_dir": "./レコメンド結果",
        "reception_numbers": [
            "SO-2503-40922",
            "SO-2504-32845",
            "SO-2503-40678",
            "SO-2504-43387",
            "SO-2504-42072",
            "SO-2505-34534",
            "SO-2503-44248",
            "SO-2503-37897",
            "SO-2503-46095",
            "SO-2504-36453",
            "SO-2504-32078",
            "SO-2503-46371",
            "SO-2504-43448",
            "SO-2504-31721",
            "SO-2505-36440",
            "SO-2503-38514",
            "SO-2504-32285"
        ]
    },
    "summary": {
        "data": {
            "受付番号別打診回数データ": "./result/受付番号別打診回数.csv",
            "協力会社住所・緯度・経度データ": "./result/【協力会社情報】住所・緯度・経度一覧.csv"
        }
    }
}